<div class="container">
  <div class="eventsContainer">

    <table
      mat-table
      [dataSource]="dataService.upcomingEvents"
      class="mat-elevation-z8"
    >
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="date">

        <th class="tableHeader" mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let event" style="font-weight: 600">
          {{ event.date }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="eventName">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef>Event</th>
        <td mat-cell *matCellDef="let event">{{ event.event }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="scheduleService.eventsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: scheduleService.eventsColumns"></tr>
    </table>
  </div>

  <div class="classesContainer">

    <table
      mat-table
      [dataSource]="dataService.classesOffered"
      class="mat-elevation-z8"
    >
      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="className">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef>Classes</th>
        <td mat-cell *matCellDef="let class" style="font-weight: 600">
          {{ class.className }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let class">{{ class.description }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="scheduleService.classesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: scheduleService.classesColumns"></tr>
    </table>
  </div>
</div>
