<div class="container">
<div class="eventsContainer">
  <h1>Upcoming Events</h1>

  <table mat-table [dataSource]="dataService.upcomingEvents" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let event" style="font-weight: 600;">{{ event.date }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="eventName">
      <th mat-header-cell *matHeaderCellDef>Event</th>
      <td mat-cell *matCellDef="let event">{{ event.eventName }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="eventsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: eventsColumns"></tr>
  </table>
</div>

<div class="classesContainer">
  <h1>Offered Classes</h1>

<table mat-table [dataSource]="dataService.classesOffered" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Classes</th>
    <td mat-cell *matCellDef="let class" style="font-weight: 600;">{{ class.className }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="eventName">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let class">{{ class.classDescription }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="eventsColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: eventsColumns"></tr>
</table>

</div>
</div>
