<mat-toolbar class="headerContainer">
  <div class="logo">
    <img width="300" src="/assets/Header Logo Revised.png" alt="FFHC Logo" />
  </div>
  <div class="headerButtons">
    <button routerLink="/home">Home</button>
    <!-- <button routerLink="/meetTheBoard">Meet the Board</button> -->
    <button routerLink="/scheduleAndClasses">Schedule & Classes</button>
    <button routerLink="/importantInformation">Important Information</button>
    <button routerLink="/signUpAndPayment">Signup & Payment</button>
    <!-- <button routerLink="/aboutUs">About Us</button> -->
  </div>
</mat-toolbar>
