<mat-toolbar class="headerContainer">
  <div class="logo">
    <img width="300" src="/assets/Header Logo Revised.png" alt="FFHC Logo" />
  </div>
  <button mat-icon-button  [matMenuTriggerFor]="home" (click)="dataService.hamburgerMenu = !dataService.hamburgerMenu">
    <mat-icon class="hamburgerMenu">menu</mat-icon>
  </button>
  <mat-menu #home="matMenu" class="headerButtons" >
    <button routerLink="/home" (click)="dataService.hamburgerMenu = !dataService.hamburgerMenu">Home</button>
    <button routerLink="/meetTheBoard" (click)="dataService.hamburgerMenu = !dataService.hamburgerMenu">Meet the Board</button>
    <button routerLink="/scheduleAndClasses" (click)="dataService.hamburgerMenu = !dataService.hamburgerMenu">Schedule & Classes</button>
    <button routerLink="/importantInformation" (click)="dataService.hamburgerMenu = !dataService.hamburgerMenu">Policy Information</button>
    <button routerLink="/signUpAndPayment" (click)="dataService.hamburgerMenu = !dataService.hamburgerMenu">Signup</button>
    <!-- <button routerLink="/aboutUs" (click)="dataService.hamburgerMenu = !dataService.hamburgerMenu">About Us</button> -->
  </mat-menu>
</mat-toolbar>
