@media (min-width: 415px) {
  .headerContainer {
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    flex-wrap: wrap;
    flex-grow: inherit;
    width: auto;
    height: auto;
  }

  .headerButtons {
    display: flex;
    justify-content: flex-start;
  }

  button {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: x-large;
    color: white;
    padding: 15px;
    cursor: pointer;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

}

@media (max-width: 415px) {
  .headerContainer {
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 30px 10px;
    flex-wrap: wrap;
    flex-grow: inherit;
    width: auto;
    height: auto;
  }

  .headerButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  button {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: x-large;
    color: white;
    padding: 5px;
    cursor: pointer;
  }

  img {
    transform: scale(0.75);
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
