table {
  width: 100%;
  max-width: 450px;
  min-width: 400px;
}
h1 {
  padding: 0;
  margin: 0;
  padding: 10px;
  font-size: xx-large;
}
.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
}
th {
  background-color: turquoise;
  color: white;
  font-size: x-large;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.classesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
}
.sectionButtonConatiner {
  display: flex;
  justify-content: center;
  margin: 20px;
}
button {
  background-color: turquoise;
  color: white;
  margin: 10px;
}
.input {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.submitButton {
  height: 36px;
}
.signUpsContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;

  align-items: center;
}
.entryContainer {
  display: flex;
justify-content: left;
  flex-wrap: wrap;
  background-color: turquoise;
  color: white;
  margin: 10px;
  width:60vw;
  max-width: 575px;
  border-radius: 10px;
  padding: 10px;
}
p{
  margin: 0 0 0 20px;
}
.childName{
  font-weight: 500;
}
h2 {
  padding:0;
  margin:0 0 0 10px;
  width:100%
}
.childerContainer {
  display: flex;
  flex-wrap: wrap;

}

