<div class="sectionButtonConatiner">
  <button mat-raised-button (click)="eventFormVisible = !eventFormVisible; classFormVisible = false ">
    Add and Remove Events
  </button>
  <button mat-raised-button (click)="classFormVisible = !classFormVisible; eventFormVisible = false">
    Add and Remove Classes
  </button>
</div>

<div class="eventUpdater" *ngIf="eventFormVisible">
  <div class="eventsContainer">
    <form
      #eventForm="ngForm"
      (ngSubmit)="formsService.onSubmitEvent(eventForm)"
      *ngIf="eventFormVisible"
    >
      <div class="formContainer">
        <mat-form-field class="input">
          <label for="date">Date</label>
          <input matInput type="date" value="date" name="date" ngModel />
        </mat-form-field>
        <mat-form-field class="input">
          <label for="event">Event Title</label>
          <input matInput type="text" value="event" name="event" ngModel />
        </mat-form-field>
        <button class="submitButton" mat-raised-button type="submit">
          Submit
        </button>
      </div>
    </form>

    <h1>Upcoming Events</h1>

    <table
      mat-table
      [dataSource]="dataService.upcomingEvents"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let event" style="font-weight: 600">
          {{ event.date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef>Event</th>
        <td mat-cell *matCellDef="let event">
          {{ event.event }}
          <button mat-raised-button (click)="dataService.deleteEvent(event.id)">
            delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="scheduleService.eventsColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: scheduleService.eventsColumns"
      ></tr>
    </table>
  </div>
</div>

<div class="classesContainer" *ngIf="classFormVisible">
  <form
    #classesForm="ngForm"
    (ngSubmit)="formsService.onSubmitClass(classesForm)"
  >
    <div class="formContainer">
      <mat-form-field class="input">
        <label for="class">Class</label>
        <input matInput type="text" value="class" name="class" ngModel />
      </mat-form-field>
      <mat-form-field class="input">
        <label for="description">Class Description</label>
        <input
          matInput
          type="text"
          value="description"
          name="description"
          ngModel
        />
      </mat-form-field>
      <button class="submitButton" mat-raised-button type="submit">
        Submit
      </button>
    </div>
  </form>

  <h1>Offered Classes</h1>

  <table
    mat-table
    [dataSource]="dataService.classesOffered"
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Classes</th>
      <td mat-cell *matCellDef="let class" style="font-weight: 600">
        {{ class.className }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="eventName">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let class">{{ class.description }}
        <button class="deleteButton" mat-raised-button (click)="dataService.deleteClass(class.id)">
          delete
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="scheduleService.eventsColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: scheduleService.eventsColumns"
    ></tr>
  </table>
</div>

