.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: lightslategray;
  width: 100vw;
  flex-direction: column;
}

form {
  color: white;
}

mat-form-field {
  margin: 10px;
  width: 100%;
}

.inputSection {
  display: flex;
  width: auto;
  margin:5px 0 5px 0;
  background-color: turquoise;
  border-radius: 10px;
  padding:5px;
}

h1 {
  color: lightslategray;
  font-weight: 500;
  margin:20px 0 0 0;
}
button {
  color:white;
  background-color: turquoise;
}
.submitButton {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

hr{
  background-color:turquoise;
  border:none;
  height:1px;
  margin:10px 0 10px 0;
  width:75%;
}
.break {
  display: flex;
  justify-content: center;
}
