/* mat-vertical-stepper {
  border: solid turquoise 1px;
  /* border-radius: 50px;
  width: 50%;
  box-shadow: 5px 5px 5px;
} */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: lightslategray;
  width: 100vw;
  flex-direction: column;
}

form {
  color: turquoise;
}
/* .example-input-wrapper {
  margin-bottom: 16px;
} */

mat-form-field {
  margin: 10px;
  width: 100%;
}

.inputSection {
  display: flex;
  width: auto;
}
h1 {
  color: lightslategray;
  font-weight: 500;
}
