<div class="container">
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="parentInformation">
      <form [formGroup]="parentInformation">
        <ng-template matStepLabel
          >Parent/Guardians Information:</ng-template
        >
        <div class="name">
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            formControlName="firstName"
            required
          />
        </mat-form-field>

        <mat-form-field >
          <input
            matInput
            placeholder="Last Name"
            formControlName="lastName"
            required
          />
        </mat-form-field>
      </div>
      <div >
        <mat-form-field >
          <input class="streetAddress"
            matInput
            placeholder="Street Address"
            formControlName="streetAddress"
            required
          />
        </mat-form-field>
      </div>
      <div class="streetAddress2">
        <mat-form-field style=>
          <input
            matInput
            placeholder="City"
            formControlName="city"
            required />
        </mat-form-field>

        <mat-form-field >
          <input
            matInput
            placeholder="State"
            formControlName="state"
            required
          />
        </mat-form-field>

        <mat-form-field >
          <input
            matInput
            placeholder="Zip Code"
            formControlName="zipCode"
            required
          />
        </mat-form-field>
      </div>
      <div class="contactInfo">
        <mat-form-field >
          <input
            matInput
            placeholder="Phone Number"
            formControlName="phoneNumber"
            required
          />
        </mat-form-field>

        <mat-form-field >
          <input
            matInput
            placeholder="Email Address"
            formControlName="emailAddress"
            required
          />
        </mat-form-field>
      </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Child/Children Information</ng-template>
        <div class="childInformation">
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            formControlName="childFirstName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Last Name"
            formControlName="childLastName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Age"
            formControlName="age"
            required
          />
        </mat-form-field>
      </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
