.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: white;
}

.welcomeContainer {
  /* background-image: url("/assets/kidsPlayingWelcomeScreen.jpg"); */
  /* background-size: 100vw; */
  /* background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;

  width: 100%;
  height: 100%;
}
.ng-content{
  display: flex;
  justify-content: center;
}
.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  color: turquoise;
}

h1 {
  font-size: 70px;
  padding: 10px;
}

p {
  font-size: medium;
}

